.h1{

	font-family: fantasy;
	color: blue;
	text-align: center;

}
.aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 10px;

  font-style: italic;
  background-color: lightgray;
}

.image{
	width:100%; 
	width: 50%;

}

.table{
	border: 5px solid black;

}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

